.hidden {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common */
.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.cont-navbar {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.ul-link-nav,
.address {
  display: none;
}
.head-logo-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}
.head-logo-nav .head-span-logo {
  color: #2e2f42;
  position: relative;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }

  .head-logo-nav {
    padding: 24px 0;
    margin-right: 120px;
  }
  .ul-link-nav {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .link-nav {
    position: relative;
    padding: 24px 0;
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav:hover {
    color: #404bbf;
  }
  .link-nav:focus {
    color: #404bbf;
  }
  .link-nav.current {
    color: #404bbf;
  }
  .link-nav.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }
  .ul-link-address {
    padding: 0;
    margin: 0px;
    gap: 12px;
  }
  .contakts {
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contakts:hover {
    color: #404bbf;
  }
  .contakts:focus {
    color: #404bbf;
  }
  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .head-logo-nav {
    margin-right: 76px;
  }
  .address {
    align-items: center;
    flex-direction: row;
  }
  .ul-link-address {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 40px;
  }
  .contakts {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
  }
}
/* hero */
.section-page-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 72px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  color: #ffff;
  line-height: 111%;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  min-width: 216px;
  margin-bottom: 48px;
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
}
.page-title-button {
  color: #ffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-title-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.page-title-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .page-title {
    line-height: 1.07;
    font-weight: 700;
    font-size: 56px;
  }
  .section-page-hero {
    padding: 112px 0;
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .section-page-hero {
    padding: 188px 0;
    max-width: 1440px;
  }
}
/*features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.div-icons {
  display: none;
}

.title-f {
  text-decoration-skip-ink: none;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-features {
  margin-top: 96px;
  margin-bottom: 96px;
}
.flex-f {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
  margin: 0;
}
.flex-f > *:not(:last-child) {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .block-f {
    flex: 1 1 calc(50% - 24px);
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .flex-f {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin-top: 96px;
    margin-bottom: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
  }
  .title-f {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-features {
    padding: 0;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .flex-f {
    display: flex;
    gap: 24px;
    padding: 0;
  }
  .flex-f > *:not(:last-child) {
    margin: 0;
  }
  .block-f {
    flex-basis: calc((100% - 3 * 24px) / 4);
    gap: 8px;
    margin: 0;
    display: block;
    align-items: center;
  }

  .div-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .title-f {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/*our team*/
.section-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  padding: 0;
  margin-bottom: 72px;
}
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
.card-our-team {
  display: block;
  align-items: center;
  justify-items: center;
  background-color: #ffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.container-our-team {
  gap: 72px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.name-our-team {
  padding: 32px 0;
}

.list-social-n {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.name-our-team .title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-align: center;
}
.li-soc-n {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
}
.social-n:hover,
.social-n:focus {
  background-color: #404bbf;
}
.social-n {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-sn {
  fill: #f4f4fd;
}
.text-our-team {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
  display: block;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .container-our-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    width: 584px;
  }
  .card-our-team {
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1158px) {
  .section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .card-our-team {
    display: block;
    align-items: center;
    justify-items: center;
  }
  .container-our-team {
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/*our-portfolio*/
.section-our-portfolio {
  align-items: center;
  padding: 96px 0 96px 0;
}
.port-title {
  margin-bottom: 72px;
  padding: 0;
  margin-top: 0;
}
.cont-our-port {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 0;
  margin: 0;
}
.card-our-port {
  width: 100%;
  margin-top: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-our-port:hover .overlay-text {
  transform: translateY(0%);
}
.card-our-port:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-text-port {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 100%;
}
.title-our-port {
  margin-bottom: 8px;
  padding: 0;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .cont-our-port {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .card-our-port {
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-our-portfolio {
    padding: 120px 0 120px 0;
  }
  .cont-our-port {
    display: flex;

    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: 865px;
    justify-content: center;
  }
  .card-our-port {
    flex: 1 1 calc(33.33% - 24px);
    max-width: calc(33.33% - 24px);
  }
}
/*footer*/
.footer {
  background-color: #2e2f42;
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0px;
}
.footer-div {
  flex-direction: column;
  align-items: center;
  gap: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span-logo {
  color: #f4f4fd;
  flex-direction: column;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  min-width: 264px;
  min-height: 72px;
  margin-bottom: 0px;
}

.soc-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffff;
  margin-bottom: 16px;
  align-self: center;
  display: flex;
  justify-content: center;
}
.cont-soc-n {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  gap: 16px;
}
.li-footer {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
}
.social-n-f {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-n-f:hover,
.social-n-f:focus {
  background-color: #31d0aa;
}
.p-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffff;
  display: flex;
  justify-content: center;
}
.form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
}
.subscribe-button {
  max-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.svg-subscribe {
  margin-left: 16px;
  fill: #ffffffff;
}
.E-mail {
  color: #ffffff;
}
.div-footer-text {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    width: 584px;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;
    margin: 0;
  }
  .p-footer {
    justify-content: flex-start;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    justify-content: baseline;
  }
  .div-footer-text {
    width: 264px;
    height: 112px;
    align-items: flex-start;
  }
  .soc-text {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-div {
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }
  .div-footer-soc {
    margin-right: 80px;
    padding: 0;
  }
  .div-footer-text {
    margin-right: 120px;
  }
  .soc-text {
    justify-content: flex-start;
  }
  .p-footer {
    justify-content: flex-start;
  }
}
/*modal*/
.backdrop {
  padding: 72px 24px 24px 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open).modal {
  transform: translate(-50%, -100%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 288px;
  padding: 72px 24px 24px 24px;
  max-height: 623px;
  background: #fcfcfc;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.p-modal {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  min-width: 360px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.svg-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.input-div {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
}
.name-label {
  margin-bottom: 4px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.svg-div {
  position: relative;
  width: 100%;
}
.form-input {
  width: 100%;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
}

.form-input:focus + .svg-input {
  fill: #4d5ae5;
}
.form-input:focus,
.form-input:hover {
  border-color: #4d5ae5;
}

.svg-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-input:focus,
.svg-input:hover {
  fill: #4d5ae5;
}
.area-div {
  margin-bottom: 16px;
}
.text-area {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:focus,
.text-area:hover {
  border-color: #4d5ae5;
}
.check-box {
  margin-bottom: 24px;
}
.user-privacy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-box[type="checkbox"]:checked + .privacy > .span-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.span-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.priv-pol {
  color: #4d5ae5;
}
.modal-b {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-b:focus,
.modal-b:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 45%;
    left: 50%;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 408px;
    padding: 72px 24px 24px 24px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    top: 50%;
    left: 50%;
  }
}

/*mobile-menu*/
.mobile-menu-container {
  margin-bottom: 40px;
  max-width: 324px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mm-svg-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.navigation-mm {
  margin-bottom: auto;
}
.ul-nav-mm {
  gap: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-mm {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-nav-mm:hover,
.link-nav-mm:focus {
  color: #404bbf;
}

.ul-address-mm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
  padding-left: 0;
  padding-bottom: 48px;
  margin: 0;
}
.contakts-mm {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contakts-mm:hover,
.contakts-mm:focus {
  color: #404bbf;
}
.ul-soc-mm {
  display: flex;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.li-soc-mm {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
}
.li-soc-mm:hover,
.li-soc-mm:focus {
  color: #404bbf;
}
.icon-mm {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mm:hover,
.icon-mm:focus {
  background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
